{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
  {% if site_logo %}
    <a class="logo navbar-btn pull-left" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}

    <a class="name navbar-brand cool" id="cool" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
		<span class="">Z</span><span class="green">รก</span><span class="light">m</span><span class="orange">e</span><span class="">ฤ</span><span class="pink">e</span><span class="orange">k</span>
		<span class="pink">2</span><span class="">0</span><span class="light">1</span><span class="orange">7</span>
	</a>

     <span class="navbar-text hidden-xs" id="festival-date">27.5. 2017</span>
 
{% endblock %}
